<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.CommentsMapper">

    <!--插入一条评论-->
    <insert id="addComment" parameterType="comments">
        insert into goods values(null, #{CommentParentId}, #{goodsId}, #{userId}, #{CommentText}, #{Score}, #{commentTime})
    </insert>

    <!--修改一条评论-->
    <update id="updateComment">
        update goods
    </update>

    <!--删除一条评论-->
    <delete id="delComment">
        delete from goods where comment_id = #{id}
    </delete>

</mapper>